<%- layout('/internal_layout.ejs') %>
<script >
  var Options = {
      
      packetId : "<%=req.packetId%>"
  };
</script>
<div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Nuevo Paquete</h2>
                            <hr class="star-primary">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form id="newPacketForm" method="POST" rel="<%=req.projectCurrent.name%>" novalidate>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Nombre del Paquete</label>
                                        <input type="text" class="form-control"  name="packetName" id="packetName" required data-validation-required-message="El nombre del proyecto es requerido">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Descripcion del Paquete</label>
                                        <input type="text" class="form-control" name="descriptionPacket" id="descriptionPacket" 
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <button type="submit" id="btnSave" class="btn btn-success"  data-loading-text="Creando...">Crear</button>
                                        <button type="button" id="btnCancel" class="btn btn-default" ><i class="fa fa-times"></i> Cancelar</button>
                                    </div>
                                    
                                </div>
                            </form>
                            <div class="alert alert-success" id="successAlertNewPacket" style="display:none">
                                <p id="textSuccessAlertNewPacket"> </p>
                            </div>
                            <div class="alert alert-danger" id="errorAlertNewPacket" style="display:none">
                                <p id="textErrorAlertNewPacket"> </p>
                            </div>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    <script src="/js/project/actionsPacket.js"></script>
