<%- layout('/internal_layout.ejs') %>
<script type="text/javascript">
$(function () {
	var project = $('#grafica').attr("rel");
	var fails = 0;
	var total = 0;
	var success = 0;
	$.post("/tested/"+project+"/0/getReports",function(data){
		var dataArray = [];
		for (var i = 0; i < data.length; i++) {
			if(data[i].testsuite.$.errors=="0")
			dataArray[i]={name : data[i].testsuite.$.name,y:parseFloat(data[i].testsuite.$.time)};
		};
		console.log(dataArray);
	    $('#grafica').highcharts({
	        chart: {
	        	type: 'pie',
	            options3d: {
	            	enabled: true,
	            	alpha: 45,
	            	beta: 0
	            }
	        },
	        title: {
	            text: ''
	        },
	        tooltip: {
	    	    pointFormat: '{series.name}: <b>{point.total} seg</b>'
	        },
	        plotOptions: {
	            pie: {
	                allowPointSelect: true,
	                cursor: 'pointer',
	                depth: 35,
	                dataLabels: {
	                    enabled: true,
	                    format: '<b>{point.name}</b>',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                    }
	                }
	            }
	        },
	        series: [{
	            type: 'pie',
	            name: 'time',
	            data: dataArray
	       	}]
	    });
	});
});
		</script>
	</head>
    

		</script>

<script src="/js/highcharts.js"></script>
<script src="/js/highcharts-3d.js"></script>
<script src="/js/modules/exporting.js"></script>
<div id="grafica" rel ="<%=req.projectCurrent.name%>" ></div>