<%- layout('/internal_layout.ejs') %>
<script type="text/javascript">
$(function () {
	var project = $('#grafica').attr("rel");
	var fails = 0;
	var total = 0;
	var success = 0;
	$.post("/tested/"+project+"/0/getReports",function(data){
		console.info(data);
		total = data.length;
		for (var i = 0; i < data.length; i++) {
			console.info(parseInt(data[i].testsuite.$.errors));
			fails += parseInt(data[i].testsuite.$.errors);
		};
		success = total - fails;
		console.info(fails);
		console.info(total);
		
	    $('#grafica').highcharts({
	        chart: {
	        	type: 'pie',
	            options3d: {
	            	enabled: true,
	            	alpha: 45,
	            	beta: 0
	            }
	        },
	        title: {
	            text: ''
	        },
	        tooltip: {
	    	    pointFormat: '{series.name}: <b>{point.total}</b>'
	        },
	        plotOptions: {
	            pie: {
	                allowPointSelect: true,
	                cursor: 'pointer',
	                depth: 35,
	                dataLabels: {
	                    enabled: true,
	                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                    }
	                }
	            }
	        },
	        series: [{
	            type: 'pie',
	            name: 'test',
	            data: [
	            	{ 
	            		events: {
		        			click:function(e){
		        				console.log(e);
		        				//llamada

		        			}
	        			},
	        			name: 'Fallos',
	        			y: fails,
	        			color: '#FF0000'
	        		},
	        		{
	        			name: 'Exitosos',
	        			y: success,
	        			color: '#005F00'
	        		}
	        	]
	       	}]
	    });
	});
});
		</script>
	</head>
    

		</script>

<script src="/js/highcharts.js"></script>
<script src="/js/highcharts-3d.js"></script>
<script src="/js/modules/exporting.js"></script>
<div id="grafica" rel ="<%=req.projectCurrent.name%>" ></div>