<div class="portfolio-modal modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h2>Formulario de inicio de sesi&oacute;n</h2>
                                    <hr class="star-primary">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <form id="loginModalForm" action="/login/process" method="POST" novalidate> 
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Email Address</label>
                                                <input type="email" name="username" class="form-control" placeholder="Email Address" id="loginEmail" required data-validation-required-message="Please enter your email address.">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="row control-group">
                                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                                <label>Password</label>
                                                <input type="password" name="password" class="form-control" placeholder="Password" id="loginPassword" minlength="6" required
                                                data-validation-required-message="Please enter your password"
                                                data-validation-minlength-message="Too short: Minimum of '6' characters">
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>                                        
                                        <br>
                                        <div id="success"></div>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <button type="submit" class="btn btn-success" id="btnLoginModal">Login</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelLoginModal"><i class="fa fa-times"></i> Close</button>
                                            </div>
                                            
                                        </div>
                                    </form>
                                    <div id="errorLogin" class="alert alert-danger" >
                                        <p id="errorLoginText"></p>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/login.js"></script>