<%- layout('/internal_layout.ejs') %>
    <div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Nuevo Proyecto</h2>
                            <hr class="star-primary">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form id="newProjectForm" method="POST"  novalidate>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Nombre del Proyecto</label>
                                        <input type="text" class="form-control"  name="projectName" id="projectName" required data-validation-required-message="El nombre del proyecto es requerido">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Descripcion del proyecto</label>
                                        <input type="text" class="form-control" name="descriptionProject" id="descriptionProject" 
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <button type="submit" id="btnSave" class="btn btn-success" >Ok</button>
                                        <button type="button" id="btnCancel" class="btn btn-default" ><i class="fa fa-times"></i> Cancelar</button>
                                    </div>
                                    
                                </div>
                            </form>
                            <div class="alert alert-success" id="successAlertNewProject" style="display:none">
                                <p id="textSuccessAlertNewProject"> </p>
                            </div>
                            <div class="alert alert-danger" id="errorAlertNewProject" style="display:none">
                                <p id="textErrorAlertNewProject"> </p>
                            </div>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
     <script src="/js/Internal/createNewProject.js"></script>