<%- layout('/internal_layout.ejs') %>
    <div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Informacion de Perfil</h2>
                            <hr class="star-primary">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <form id="profileInfoForm" action="/signup/register" method="POST"  novalidate>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" value="<%=user.firstName%>" name="firstNameProfile" id="firstNameProfile" required data-validation-required-message="Ingrese su nombre">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Apellido</label>
                                        <input type="text" class="form-control" value="<%=user.lastName%>" name="lastNameProfile" id="lastNameProfile" required data-validation-required-message="Ingrese su apellido">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                 <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Contrase&ntilde;a Actual</label>
                                        <input type="password" class="form-control" placeholder="Password" name="passwordProfile" id="passwordProfile" minlength="6" required
                                        data-validation-required-message="Ingrese su contrase&ntilde;a actual"
                                        data-validation-minlength-message="Ingrese una contrase&ntilde;a con 6 caracteres minimo">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>  
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Contrase&ntilde;a Nueva</label>
                                        <input type="password" class="form-control" placeholder="Password" name="newPasswordProfile" id="newPasswordProfile" minlength="6" 
                                        data-validation-minlength-message="Ingrese una contrase&ntilde;a con 6 caracteres minimo">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Confirmar Contrase&ntilde;a Nueva</label>
                                        <input type="password" class="form-control" placeholder="Password" name="confirmPasswordProfile" id="confirmPasswordProfile" minlength="6" 
                                        data-validation-minlength-message="Ingrese una contrase&ntilde;a con 6 caracteres minimo"
                                        data-validation-match-match="newPassword"
                                        >
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>    
                                <br>
                                <div id="success"></div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <button type="submit" id="btnSave" class="btn btn-success" >Ok</button>
                                        <button type="button" id="btnCancel" class="btn btn-default" ><i class="fa fa-times"></i> Cancelar</button>
                                    </div>
                                    
                                </div>
                            </form>
                            <div class="alert alert-danger" id="errorAlertProfile" style="display:none">
                                <p id="textErrorAlertProfile"> </p>
                            </div>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
    <script src="/js/Internal/changeProfile.js"></script>